/* Layouts */

.page-wrap {
  padding: 2rem;
}

.page-heading {
  max-width: 64rem;
  margin-bottom: 4rem;
}

.page-footer {
  max-width: 64rem;
  margin-top: 4rem;
}

.page-footer .disclosure {
  padding: 1rem 2rem;
  border-radius: 1.2rem;
  background: #fff7e6;
}

.page-footer .title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
